@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center py-5">
    <h1 class="display-4 mb-4">Welcome</h1>
    <p class="lead">Learn about <a href="https://learn.microsoft.com/aspnet/core" class="link-primary">building Web apps with ASP.NET Core</a>.</p>
</div>
